django-crispy-forms==1.6.1
django-extensions==1.7.5
django-filter==1.0.1
django-geoposition==0.3.0
django-cors-headers==2.0.2
django-rest-swagger==2.1.1
Django>=1.10,<1.11
djangorestframework-gis==0.11.0
djangorestframework-jwt==1.9.0
djangorestframework-xml==1.3.0
djangorestframework==3.5.3
factory-boy==2.8.1
ipython==5.1.0
Pillow==4.0.0
psycopg2==2.6.2
pytest-cov==2.4.0
pytest-django==3.1.2
pytest-watch==4.1.0
pytest==3.0.5
python-dotenv==0.6.3
tqdm==4.11.2
